.footer-container {
  position: relative;
}
.footer-container > hr {
  border: 1px solid var(--lightgray);
}
.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.logo-footer > span {
  color: white;
  font-weight: bold;
}
.social-link {
  display: flex;
  gap: 2rem;
}

.social-link a > img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
